.master{
    height: 73px;
    margin-left: 22%;
    margin-top: -2%;
    margin-bottom: 3%;
}
.rip{
    margin-top: -15%;
    color:white
}
.flex{
    color:white
}
.puce{
    border-radius: 21px;
}
.carte{
    margin-top: 6%;
    margin-left: 3%;
}